@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: rgb(55 65 81);
}
[contentEditable="true"]:empty:focus:before {
  content: attr(data-placeholder);
  color: rgb(107 114 128);
}
