.markdown-body h1 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #333; */
}
.markdown-body h2 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  font-size: 1.4rem;
  font-weight: bold;
  /* color: #333; */
}
.markdown-body h3 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  font-size: 1.3rem;
  font-weight: bold;
  /* color: #333; */
}
.markdown-body h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #333; */
}

.markdown-body a {
  /* color: #fa6432; */
  text-decoration: none;
}
.markdown-body a:hover,
.markdown-body a:focus,
.markdown-body a:active {
  text-decoration: underline;
}

.markdown-body p {
  font-size: 1rem;
  margin: 1em 0;
  line-height: 1.5;
}
.markdown-body p code {
  /* background-color: #eee; */
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
}

.markdown-body ol,
.markdown-body ul {
  margin: 1em;
}
.markdown-body ul {
  list-style-type: disc; /* Sets the bullet style for unordered lists */
}

.markdown-body ol {
  list-style-type: decimal; /* Sets the numbering style for ordered lists */
}
.markdown-body ol li ol,
.markdown-body ol li ul,
.markdown-body ul li ol,
.markdown-body ul li ul {
  margin: 0 2em;
}
.markdown-body ol li p,
.markdown-body ul li p {
  margin: 0;
}

.markdown-body dl {
  font-family: monospace, monospace;
}
.markdown-body dl dt {
  font-weight: bold;
}
.markdown-body dl dd {
  margin: -1em 0 1em 1em;
}

.markdown-body img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

.markdown-body blockquote {
  padding-left: 1em;
  font-style: italic;
  /* border-left: solid 1px #fa6432; */
}

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  /* font-family: "Times New Roman", Times, serif; */
  text-align: left;
  margin-bottom: 2em;
  caption-side: bottom;
  color: inherit;
  background-color: inherit;
}

.markdown-body table caption {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0.5em;
  color: #444;
}

.dark .markdown-body table caption {
  color: #ccc;
}

.markdown-body table thead {
  border-bottom: 2px solid black;
}

.dark .markdown-body table thead {
  border-bottom: 2px solid white;
}

.markdown-body table thead th {
  font-weight: bold;
  padding: 0.5em 0.75em;
}

.markdown-body table tbody tr {
  /* border-bottom: 1px solid #ccc; */
}

.dark .markdown-body table tbody tr {
  /* border-bottom: 1px solid #666; */
}

.markdown-body table tbody tr:last-child {
  border-bottom: 2px solid black;
}

.dark .markdown-body table tbody tr:last-child {
  border-bottom: 2px solid white;
}

.markdown-body table td {
  padding: 0.5em 0.75em;
}

/* Light mode striping */
.markdown-body table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Dark mode override for striping */
.dark .markdown-body table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.07);
}

.markdown-body .title {
  font-size: 2.5em;
}

.markdown-body .subtitle {
  font-weight: normal;
  font-size: 0.75em;
  /* color: #666; */
}

.markdown-body .tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
}
.markdown-body .tags li {
  display: inline;
  margin-right: 0.5em;
}

.markdown-body figure {
  margin: 1em 0;
}
.markdown-body figure figcaption {
  font-family: monospace, monospace;
  font-size: 0.75em;
  text-align: center;
  /* color: grey; */
}

.markdown-body .footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.markdown-body .footnote-definition .footnote-body {
  margin: 1em 0;
  padding: 0 1em;
  /* border: 1px dashed rgba(250, 100, 50, 0.3); */
  /* background-color: rgba(200, 200, 200, 0.2); */
}
.markdown-body .footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

.markdown-body header {
  display: flex;
  justify-content: space-between;
}
.markdown-body header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.markdown-body header a + a {
  margin-left: 1rem;
}

.markdown-body .posts {
  margin: 0;
  list-style: none;
}
.markdown-body .posts .post a {
  display: flex;
  padding: 0.5em 0;
  /* color: black; */
}
.markdown-body .posts .post a:hover,
.markdown-body .posts .post a:focus,
.markdown-body .posts .post a:active {
  text-decoration: none;
  /* background: rgba(200, 200, 200, 0.2); */
}
.markdown-body .posts .post date {
  font-family: monospace, monospace;
  font-size: 0.8rem;
  vertical-align: middle;
  padding-right: 2rem;
  /* color: grey; */
}
